<!DOCTYPE html>
<html>
  <head>
    <title>xkomer | Powiadomienia o Gorących Strzałach w x-kom</title>
    <%= favicon %>
    <%= stylesheet 'application' %>
  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="container">
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">xkomer</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-text mr-auto">
            Wygodne powiadomienia o <i>"Gorących Strzałach"</i> w x-kom.pl
          </div>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-3 sign-up-input" type="text" placeholder="Twój adres email...">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Zapisz</button>
          </form>
        </div>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted align-self-center">Paweł Cyło (C) 2017</span>
      </div>
    </footer>
  </body>
  <%= javascript 'jquery', 'bootstrap', 'application' %>
</html>
